- var hash = 'comment-' + comment.n;

a(name= hash)
article.comment
  img.avatar(src= comment.avatar)
  .content
    header
      strong.name= comment.name
      a(href= '#' + hash): time(datetime= comment.date)= moment(comment.date).format('MMMM Do, YYYY')
    section!= comment.html
  .clear
