article.comment
  img.avatar(src= comment.avatar)
  .content
    header
      strong.name= comment.name
      time(datetime= comment.date)= moment(comment.date).format('MMMM Do, YYYY')
    section!= comment.html
  .clear
