#container
  nav#menu
    ul
      li#logo
        a(href='/', title='Home')
          .num 0
          .text= title
          .cap= subtitle
      li#navblog
        a(href='http://blog.the0th.com', title='Blog')
          .num 1
          .text blog
          .cap the0th.com
      li#navresume
        a(href='/résumé', title='Résumé')
          .num 2
          .text résumé
          .cap /resume.pdf
      li#navprojects
        a(href='http://github.com/cpetzold', title='Projects')
          .num 3 
          .text projects
          .cap github.com/cpetzold