!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='css/screen.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
  body!= body