!!! 5
html
  head
    title ...
    link(rel='stylesheet', href='screen.css')
    script(src= 'http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js')
    script(src='/socket.io/socket.io.js')
  body
    != body
    script(src= 'js/index.js')
