!!! 5
html
  head
    title The0th
    link(rel= 'stylesheet', href= '/screen.css')
    link(rel= 'stylesheet', href= '/codemirror.css')
    script(src= 'http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js')
    script(src= '/js/jquery.pjax.js')
    script(src= '/js/codemirror.js')
    script(src= '/js/modes/xml.js')
    script(src= '/js/modes/javascript.js')
    script(src= '/js/modes/markdown.js')
    script(src= '/js/modes/gfm.js')
  body
    .container
      nav
        ul
          li: a#logo(href= '/')
            .in
              span.num 0
              span.text the0th
              span.cap /
          li: a(href= '/about')
            .in
              span.num 1
              span.text about
              span.cap /about
          each i in [2,3,4]
            li
              .empty
                .in: span.num= i
        .clear
    
      section#content!= body
    footer
      .container
        .copyright &copy; #{(new Date).getFullYear()} 
          a(href= 'mailto:cpetzold@gmail.com') Conner Petzold
        .clear
        
    
    script(src= '/js/index.js')
