!!! 5
html
  head
    title The0th
    link(rel='stylesheet', href='screen.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
  body!= body
