!!! 5
html(lang="en")
  head
    - var site_title = title ? site + " " + title : site
    title= site_title
    link(rel='stylesheet', href='css/style.css')
  body(id=bodyid)
  
    #container.fixed
      #content
        nav
          ul
            li#logo
              a(href='/', title='Home')
                .num 0
                .text= site
                .cap .com
            li#navme
              a(href='/me', title='Me') 
                .num 1
                .text me
                .cap Conner Petzold
            li#navprojects
              a(href='/projects', title='Projects')
                .num 2 
                .text projects
                .cap on GitHub!
            li#navresume
              a(href='/résumé', title='Résumé')
                .num 3
                .text résumé
                .cap Web Developer
        .clear
        
        article!= body
    
        
      #sidebar
        .num 4
        
    script(src='js/jquery.min.js', type='text/javascript')
    script(src='js/main.js', type='text/javascript')