article
  header
    a(href= '/' + moment(post.date).format('M-D-YYYY') + '/' + post.slug): h1= post.title
    time(datetime= post.date)= moment(post.date).format('MMMM Do, YYYY')
  section!= post.html