section
  h1 Education
  
  article
    h2 Colorado State University - Fort Collins, Colorado
    .desc 2006 - 2010
      
    ul
      li B.S. Computer Science
      li blah


section
  h1 Education

  article
    h2 Colorado State University - Fort Collins, Colorado
    .desc 2006 - 2010

    ul
      li B.S. Computer Science
      li blah

