@import 'sites'

// Typography
fsize = 13px
fstack = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif

// Colors
cbg = #fff
ctext = #343646
cprimary = #343646
csecondary = #ACC1E8
clighter = #f3f3f3
clight = #e3e3e3
cmed = #a3b6c0
cdark = #70777f


// Mixins
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
 
// Main style
body
  font fsize fstack
  color ctext
  background cbg
  margin 0
  padding 0
 
a
 text-decoration none
 color cdark

#container
  margin 200px 20px 0px
  
h1, h2
  display none
  float left
  
.clear
  clear both
  
h1
  color cprimary
  margin 0

h2
  color csecondary
  font-size 1.3em
  margin 5px 5px 10px
 
nav ul
    margin 0
    padding 0
 
li
  display inline-block
  list-style-type none
  
nav li a
  display inline-block
  padding 8px 15px 10px 15px
  margin 5px 5px 0px 0px
  color ctext
  background clighter
  border-bottom 4px solid clight
  cursor pointer
  

nav li a:hover
  border-color cmed
  padding-bottom 20px
  .text
    color black
  .num::after
    content: ' ¬'
    
nav li a span
  display block
  
nav .text
  font-size 1.2em
  
nav .num, nav .cap
  font-size 0.7em
  color cmed
  
  
#resume
  font-size 11px
  margin 15px 0px 0px 250px
  width 750px
  
  #education, #experience
    margin 0px 0px 10px 5px
    
  #contact
    position absolute
    top 15px
    left 15px
    width 200px
    text-align right
    strong
      display block
      margin-top 8px
      font-size 0.7em      
    strong:first-child
      margin-top 0px
    
  nav a
    text-align left
    font-size 13px
    margin 25px 0px 0px 0px
    
  nav a:hover
    padding automatic

  h1, h2
    display block

  h2
    font-size 1.6em
    color: cprimary
    margin 0px
    padding 0px
    
  h3, h4
    display inline-block
    margin 10px 10px 5px 0px
    
  h3
    font-size 1.3em
    color cdark
    
  h4
    font-size 1.2em
    color csecondary
    
  .setting
    float right
    margin 15px 10px 5px 0px
    
  .tags
    margin 0
    padding 0
    li
      font-weight bold
      font-size 10px
      margin 8px 8px 0px 0px
      padding 3px 5px
      background clight
      

  
