.linkedin a:hover {
  border-color: #4e9cc3;
}
.facebook a:hover {
  border-color: #3b5998;
}
.github a:hover {
  border-color: #000;
}
body {
  font: 13px "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  color: #343646;
  background: #fff;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #70777f;
}
#container {
  margin: 200px 20px 0px;
  min-width: 800px;
}
h1,
h2 {
  display: inline-block;
}
.clear {
  clear: both;
}
h1 {
  color: #343646;
  margin: 0;
}
h2 {
  color: #acc1e8;
  font-size: 1.3em;
  margin: 5px 5px 10px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li,
.tags li {
  display: inline-block;
  list-style-type: none;
}
nav li a {
  display: inline-block;
  padding: 8px 15px 10px 15px;
  margin: 5px 5px 0px 0px;
  color: #343646;
  background: #f3f3f3;
  border-bottom: 4px solid #e3e3e3;
  cursor: pointer;
}
nav li a:hover {
  border-color: #a3b6c0;
}
nav li a:hover .text {
  color: #000;
}
nav li a:hover .num::after {
  content: " ¬";
}
nav li a span {
  display: block;
}
nav .text {
  font-size: 1.2em;
}
nav .num,
nav .cap {
  font-size: 0.7em;
  color: #a3b6c0;
}
#resume {
  font-size: 11px;
  margin: 15px 0px 0px 250px;
  width: 750px;
}
#resume #education,
#resume #experience {
  margin: 0px 0px 10px 5px;
}
#resume #contact {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  text-align: right;
}
#resume #contact div {
  margin: 15px 0px 8px 0px;
}
#resume nav {
  display: none;
}
#resume nav a {
  text-align: left;
  font-size: 13px;
  margin: 25px 0px 0px 0px;
}
#resume nav a:hover {
  padding: automatic;
}
#resume h1,
#resume h2 {
  display: block;
  float: none;
}
#resume h2 {
  font-size: 1.6em;
  color: #343646;
  margin: 0px;
  padding: 0px;
}
#resume h3,
#resume h4 {
  display: inline-block;
  margin: 10px 10px 5px 0px;
}
#resume h3 {
  font-size: 1.3em;
  color: #70777f;
}
#resume h4 {
  font-size: 1.2em;
  color: #acc1e8;
}
#resume .setting {
  float: right;
  margin: 15px 10px 5px 0px;
}
#resume .points {
  padding: 4px 0px 0px 26px;
}
#resume .points li {
  margin: 0px 0px 26px 0px;
}
#resume .tags {
  margin: 2px 0px 20px 0px;
  padding: 0;
}
#resume .tags li {
  margin: 6px 6px 0px 0px;
}
#resume .tags li,
#resume #contact strong {
  font-weight: bold;
  font-size: 10px;
  padding: 3px 5px;
  background: #f3f3f3;
  border-bottom: 2px solid #e3e3e3;
}
