@font-face {
  font-family: Pixel;
  src: url('../fonts/pixel.ttf');
}
.noli {
  display: inline;
  list-style-type: none;
}
.pixel {
  font-family: Pixel, Arial;
  font-size: 10px;
}
.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0px;
}
body {
  font-size: 26px;
  background: #262626;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  padding: 0 1em;
}
header,
footer,
section,
aside,
nav,
article {
  display: block;
}
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
#container {
  position: absolute;
  left: 0px;
  top: 40%;
  width: 100%;
  min-width: 800px;
  height: 88px;
  background: #edf2f7;
  box-shadow: 0px 6px 40px #111111;
  -webkit-box-shadow: 0px 6px 40px #111111;
  -moz-box-shadow: 0px 6px 40px #111111;
}
.cap, .num {
  font-family: Pixel, Arial;
  font-size: 10px;
  color: #bbbbbb;
}
nav {
  font-size: 1.5em;
  position: absolute;
  top: -5px;
}
nav li {
  display: inline;
  list-style-type: none;
}
nav li a {
  float: left;
  margin: 0px 5px;
  padding: 8px 15px 10px 15px;
}
nav li a .text {
  color: #444444;
}
nav li a .num {
  width: 12px;
  padding: 3px 0px;
  background: #edf2f7;
  text-align: center;
}
nav li a:hover {
  background: #ffffff;
  box-shadow: 0px 4px #bbbbbb;
  -webkit-box-shadow: 0px 4px #bbbbbb;
  -moz-box-shadow: 0px 4px #bbbbbb;
}
nav li a:hover .num {
  text-decoration: underline;
  color: #ed1c48;
}
nav li a:hover .text {
  color: #262626;
}
nav li a:visited .text {
  /*        color: @medium + #111;*/

}
#logo a {
  background: #ed1c48;
  box-shadow: 0px 4px #a90004;
  -webkit-box-shadow: 0px 4px #a90004;
  -moz-box-shadow: 0px 4px #a90004;
}
#logo a .text {
  color: #edf2f7;
}
#logo a .cap {
  color: #ff608c;
}
#logo a .num {
  text-decoration: underline;
  color: #aedaf3;
  background: #cb0026;
}
#logo a:hover {
  cursor: default;
  color: #ffffff;
  padding-top: 8px;
}
