@font-face {
  font-family: Pixel;
  src: url('../fonts/pixel.ttf');
}
.noli {
  list-style-type: none;
}
.noshadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.pixel {
  font-family: Pixel, Arial;
  font-size: 8px;
}
.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0px;
}
body {
  background: #262626;
  font: 14px Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  margin: 0;
}
header,
footer,
section,
aside,
nav,
article {
  display: block;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.cap, .num {
  font-family: Pixel, Arial;
  font-size: 8px;
  color: #bbbbbb;
}
nav {
  font-size: 1.5em;
  position: fixed;
}
nav ul, nav li {
  margin: 0;
  padding: 0;
}
nav li {
  list-style-type: none;
}
nav li a {
  /*      .round(0px 0px 3px 3px);*/

  width: 75px;
  float: left;
  margin-bottom: 1px;
  padding: 8px 15px 10px 15px;
  background: #ffffff;
}
nav li a .text {
  color: #444444;
}
nav li a:hover {
  background: #edf2f7;
}
nav li a:hover .text {
  color: #262626;
  text-decoration: underline;
}
#projects #navprojects a, #resume #navresume a, #blog #navblog a {
  background: transparent;
}
#projects #navprojects a .num, #resume #navresume a .num, #blog #navblog a .num {
  text-decoration: underline;
  color: #ed1c48;
}
#logo a {
  background: #ed1c48;
}
#logo a .text {
  color: #8e112b;
}
#logo a .cap {
  color: #c9183d;
}
#logo a:hover {
  color: #ffffff;
}
#home #logo a .num {
  text-decoration: underline;
}
#title {
  text-shadow: 1px 3px #dddddd;
}
#subtitle {
  font-size: 1.3em;
  line-height: 0.7em;
  color: #cccccc;
}
article {
  line-height: 20px;
  margin: 10px -15px;
  background: #ffffff;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 2px #dddddd;
  -webkit-box-shadow: 0px 2px #dddddd;
  -moz-box-shadow: 0px 2px #dddddd;
}
