@font-size: 14px;
@line-height: 20px;
@font-stack: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
@min-width: 900px;
@max-width: 1100px;

@sidebar-width: 200px;

@darkest: #000;
@dark: #262626;
@medium: #444;
@light: #ddd;
@lighter: #edf2f7;
@lightest: #fff;
@primary: #ed1c48;
@secondary: #aedaf3;

@font-face { 
  font-family: Pixel; 
  src: url('../fonts/pixel.ttf'); 
} 

.noli {
  list-style-type: none;
}

.round (@radius: 3px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.shadow (@offset: 0px 2px, @color: @light) {
  box-shadow: @offset @color;
  -webkit-box-shadow: @offset @color;
  -moz-box-shadow: @offset @color;
}

.noshadow {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.tshadow(@offset: 0px 2px, @color: @light) {
  text-shadow: @offset @color;
}

.pixel {
  font-family: Pixel, Arial;
  font-size: 8px;
}

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0px;
}

body {
  background: @dark;
  font: @font-size @font-stack;
  color: @medium;
  margin: 0;
}

header, footer, section, aside, nav, article { display: block; }
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

.cap, .num {
  .pixel;
  color: @light - #222;
}

nav {
  font-size: 1.5em;
  position: fixed;
  
  
  ul, li {
    margin: 0;
    padding: 0;
  }
  
  li {
    .noli;
    
    a {
/*      .round(0px 0px 3px 3px);*/
      width: 75px;
      float: left;
      margin-bottom: 1px;
      padding: 8px 15px 10px 15px;
      background: @lightest;

      .text {
        color: @medium;
      } 
    }
    
    a:hover {
      background: @lighter;
      .text { color: @dark; text-decoration: underline; }
    }
  }
}

#projects #navprojects, 
#resume #navresume,
#blog #navblog {
  a {
    background: transparent;
    
    .num {
      text-decoration: underline;
      color: @primary;
    }
  }
}

#logo {
  a {
    background: @primary;
    
    .text {
      color: @primary * 0.6;
    }
    
    .cap {
      color: @primary * 0.85;
    }
    
    
  }
  a:hover { 
    color: @lightest;
  }
}

#home #logo a .num {
  text-decoration: underline;
}

#title {
  .tshadow(1px 3px);
}

#subtitle {
  font-size: 1.3em;
  line-height: 0.7em;
  color: @light - #111;   
}

article {
  line-height: @line-height;
  margin: 10px -15px;
  background: @lightest;
  padding: 10px;
  .round;
  .shadow;
}

section {
}
