.clear {
  clear: both;
}
body {
  margin: 0;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #343646;
  background: #333;
  -webkit-tap-highlight-color: rgba(172,193,232,0.62);
}
#top {
  background: #fff;
}
.container {
  padding: 1.5em 3em;
  max-width: 55em;
  min-width: 30em;
  margin: auto;
}
footer {
  color: #eee;
  border-top: 0.5em solid #eee;
}
footer .copyright {
  float: right;
  font-size: 0.8em;
}
footer a {
  color: #acc1e8;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
::selection,
::-moz-selection {
  background: #eee;
}
pre code {
  overflow: scroll;
}
pre code::selection,
pre code::-moz-selection,
pre code span::selection,
pre code span::-moz-selection {
  background: #777;
}
img::selection,
img::-moz-selection {
  background: transparent;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #343646;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  padding: 1em 0 0.3em;
  margin: 0;
  color: #000;
}
.comments code {
  overflow: scroll;
  padding: 0.8em 1.4em;
}
.comments > .comment {
  position: relative;
  min-height: 3.5em;
  font-size: 0.95em;
  line-height: 1.5em;
  padding: 1.5em 0 0 4em;
  text-align: justify;
}
.comments > .comment .avatar {
  position: absolute;
  left: 0;
  top: 1.65em;
  width: 3em;
}
.comments > .comment .name {
  margin-right: 0.8em;
}
.comments > .comment header {
  margin-bottom: 0.5em;
}
.comments > .comment time {
  color: #bbb;
}
.post > header,
.page > header {
  margin: 1em 0 1em;
}
.post > header h1,
.page > header h1 {
  font-size: 2em;
  padding: 0;
  color: #343646;
}
.post > header h1:hover,
.page > header h1:hover {
  color: #000;
}
.post > header time,
.page > header time,
.post > header .numComments,
.page > header .numComments,
.post > header .tag,
.page > header .tag {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.4em 0.6em;
  margin: 1em 0.15em 0 0;
  color: #fff;
}
.post > header time,
.page > header time {
  background: #9cb5e4;
  border-bottom: 0.1em solid #6088d4;
}
.post > header .numComments,
.page > header .numComments {
  background: #f66;
  border-bottom: 0.1em solid #fa0000;
}
.post > header .numComments:hover,
.page > header .numComments:hover {
  background: #ff4242;
  border-color: #d60000;
}
.post > header .tag,
.page > header .tag {
  background: #eee;
  color: #aaa;
  border-bottom: 0.1em solid #aaa;
}
.post > header .tag:hover,
.page > header .tag:hover {
  background: #ddd;
  color: #888;
}
.post > header .tag.active,
.page > header .tag.active {
  background: #9dcd69;
  color: #fff;
  border-bottom: 0.1em solid #6fa336;
}
.post p,
.page p {
  line-height: 1.8em;
  text-align: justify;
}
.post h1,
.page h1 {
  font-size: 1.4em;
}
.post h2,
.page h2 {
  font-size: 1.2em;
}
.post h3,
.page h3 {
  font-size: 1em;
  font-weight: bold;
}
.body {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 0.5em solid #f8f8f8;
}
#logo .text {
  font-weight: bold;
}
nav {
  margin-bottom: 2.5em;
}
nav ul {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
nav ul .text {
  font-size: 1.2em;
}
nav ul .num,
nav ul .cap {
  font-size: 0.7em;
  color: #a3b6c0;
}
nav ul li {
  display: block;
  list-style-type: none;
  float: left;
  width: 20%;
}
nav ul li .empty {
  opacity: 0.3;
}
nav ul li a,
nav ul li .empty {
  display: block;
  width: 100%;
  height: 4.5em;
  margin-right: 1.5em;
  vertical-align: top;
  color: #343646;
}
nav ul li a .in,
nav ul li .empty .in {
  padding: 8px 15px 10px 15px;
  background: #f3f3f3;
  height: 80%;
  margin-right: 0.5em;
  border-bottom: 0.2em solid #e3e3e3;
}
nav ul li a:hover,
nav ul li .empty:hover {
  border-color: #a3b6c0;
}
nav ul li a:hover .text,
nav ul li .empty:hover .text {
  color: #000;
}
nav ul li a:hover .num::after,
nav ul li .empty:hover .num::after {
  content: " ¬";
}
nav ul li span {
  display: block;
}
pre code,
.CodeMirror {
  display: block;
  padding: 1.3em 1.5em;
  margin: 1em 0;
  font-family: "Andale Mono", "Lucida Console", Consolas, monospace;
  font-size: 0.9em;
  line-height: 1.5em;
  background: #303030;
  color: #bbb;
  border-bottom: 0.5em solid #222;
}
pre code .keyword,
.CodeMirror .keyword,
pre code .literal,
.CodeMirror .literal,
pre code .change,
.CodeMirror .change,
pre code .winutils,
.CodeMirror .winutils,
pre code .flow,
.CodeMirror .flow,
pre code .lisp .title,
.CodeMirror .lisp .title,
pre code .tex .special,
.CodeMirror .tex .special,
pre code .cm-keyword,
.CodeMirror .cm-keyword {
  color: #fff;
}
pre code .string,
.CodeMirror .string,
pre code .function .title,
.CodeMirror .function .title,
pre code .class .title,
.CodeMirror .class .title,
pre code .haskell .label,
.CodeMirror .haskell .label,
pre code .ini .title,
.CodeMirror .ini .title,
pre code .tag .value,
.CodeMirror .tag .value,
pre code .css .rules .value,
.CodeMirror .css .rules .value,
pre code .processor,
.CodeMirror .processor,
pre code .ruby .symbol,
.CodeMirror .ruby .symbol,
pre code .ruby .symbol .string,
.CodeMirror .ruby .symbol .string,
pre code .ruby .symbol .keyword,
.CodeMirror .ruby .symbol .keyword,
pre code .ruby .symbol .keymethods,
.CodeMirror .ruby .symbol .keymethods,
pre code .ruby .instancevar,
.CodeMirror .ruby .instancevar,
pre code .ruby .class .parent,
.CodeMirror .ruby .class .parent,
pre code .built_in,
.CodeMirror .built_in,
pre code .sql .aggregate,
.CodeMirror .sql .aggregate,
pre code .django .template_tag,
.CodeMirror .django .template_tag,
pre code .django .variable,
.CodeMirror .django .variable,
pre code .attr_selector,
.CodeMirror .attr_selector,
pre code .pseudo,
.CodeMirror .pseudo,
pre code .addition,
.CodeMirror .addition,
pre code .stream,
.CodeMirror .stream,
pre code .envvar,
.CodeMirror .envvar,
pre code .apache .tag,
.CodeMirror .apache .tag,
pre code .apache .cbracket,
.CodeMirror .apache .cbracket,
pre code .tex .command,
.CodeMirror .tex .command,
pre code .input_number,
.CodeMirror .input_number,
pre code .cm-string,
.CodeMirror .cm-string,
pre code .cm-string-2,
.CodeMirror .cm-string-2 {
  color: #acc1e8;
}
pre code .comment,
.CodeMirror .comment,
pre code .java .annotation,
.CodeMirror .java .annotation,
pre code .python .decorator,
.CodeMirror .python .decorator,
pre code .template_comment,
.CodeMirror .template_comment,
pre code .pi,
.CodeMirror .pi,
pre code .doctype,
.CodeMirror .doctype,
pre code .deletion,
.CodeMirror .deletion,
pre code .shebang,
.CodeMirror .shebang,
pre code .apache .sqbracket,
.CodeMirror .apache .sqbracket,
pre code .tex .formula,
.CodeMirror .tex .formula,
pre code .cm-comment,
.CodeMirror .cm-comment {
  color: #777;
}
pre code .keyword,
.CodeMirror .keyword,
pre code .css .id,
.CodeMirror .css .id,
pre code .phpdoc,
.CodeMirror .phpdoc,
pre code .function .title,
.CodeMirror .function .title,
pre code .class .title,
.CodeMirror .class .title,
pre code .haskell .label,
.CodeMirror .haskell .label,
pre code .vbscript .built_in,
.CodeMirror .vbscript .built_in,
pre code .sql .aggregate,
.CodeMirror .sql .aggregate,
pre code .rsl .built_in,
.CodeMirror .rsl .built_in,
pre code .smalltalk .class,
.CodeMirror .smalltalk .class,
pre code .xml .tag .title,
.CodeMirror .xml .tag .title,
pre code .diff .header,
.CodeMirror .diff .header,
pre code .chunk,
.CodeMirror .chunk,
pre code .winutils,
.CodeMirror .winutils,
pre code .bash .variable,
.CodeMirror .bash .variable,
pre code .lisp .title,
.CodeMirror .lisp .title,
pre code .apache .tag,
.CodeMirror .apache .tag,
pre code .tex .special,
.CodeMirror .tex .special {
  color: #fff;
}
pre code .literal,
.CodeMirror .literal {
  color: #ff5a5a;
}
pre code .xml .css,
.CodeMirror .xml .css,
pre code .xml .javascript,
.CodeMirror .xml .javascript,
pre code .xml .vbscript,
.CodeMirror .xml .vbscript,
pre code .tex .formula,
.CodeMirror .tex .formula {
  opacity: 0.5;
}
