body {
  font: 13px "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  color: #222;
  background: #fff;
}
a {
  text-decoration: none;
  color: #70777f;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul .text {
  font-size: 1.2em;
}
nav ul .num,
nav ul .cap {
  font-size: 0.7em;
  color: #a3b6c0;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  display: inline-block;
  padding: 8px 15px 10px 15px;
  margin: 5px 5px 0px 0px;
  color: #343646;
  background: #f3f3f3;
  border-bottom: 4px solid #e3e3e3;
  cursor: pointer;
}
nav ul li a:hover {
  border-color: #a3b6c0;
}
nav ul li a:hover .text {
  color: #000;
}
nav ul li a:hover .num::after {
  content: " ¬";
}
nav ul li span {
  display: block;
}
.fb-comments,
.fb-comments iframe[style] {
  width: 100% !important;
}
