fsize = 13px
fstack = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif

body
  font fsize fstack
  color: #fff 
  background: #222
  margin 0
  padding 0
  overflow: hidden

#c
  position: absolute
  top: 40%
  left: 20%
  height: 60px
  width: 200%
  padding: 30px
  overflow: hidden

.e
  position: relative
  float: left
  overflow: hidden
  width: 110px
  height: 60px
  margin: 0px 3px 0px 0px
  background: #181818
  transition: background-color 1s ease-in
  &:hover
    background: lighten(#181818, 1%)

#t0
  color: #222
  background: #fff
  span
    position: absolute
    bottom: 4px
    right: 6px
    font-size: 25px
