fsize = 13px
fstack = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif

cbg = #fff
ctext = #343646
cprimary = #343646
csecondary = #ACC1E8
clighter = #f3f3f3
clight = #e3e3e3
cmed = #a3b6c0
cdark = #70777f

body
  font fsize fstack
  color: #222 
  background: #fff
  
a
  text-decoration none
  color cdark
  
nav ul
  margin: 0
  padding: 0
  .text
    font-size 1.2em
  
  .num, .cap
    font-size 0.7em
    color cmed
 
  li
    display inline-block
    list-style-type none
  
    a
      display inline-block
      padding 8px 15px 10px 15px
      margin 5px 5px 0px 0px
      color ctext
      background clighter
      border-bottom 4px solid clight
      cursor pointer
      &:hover
        border-color cmed
        .text
          color black
        .num::after
          content: ' ¬'
    
    span
      display block
  
  
.fb-comments,
.fb-comments iframe[style]
  width: 100% !important